onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=react-native-screens
shamefully-hoist=true
